* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: url(img/background.jpg) center/cover no-repeat;
    height: 100vh; /* Garante que o corpo ocupe toda a altura da viewport */
    background-size: cover;
    background-attachment: fixed;
}


.container {
  background-color: #bbbaba;
  width: 500px;
  border-radius: 10px;
  padding: 19px;
  margin: 130px auto;
  opacity: 0.75;
  margin-bottom: 60px; /* 25px (altura do footer) + 35px (distância do footer) */
}
.input-task {
  
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  padding-left: 5px;
}

.button-add-task {
  font-weight: 700;
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: #4d0426;
  color: #fefefe;
  font-size: 17px;
  padding: 0 15px;
  float: right;
  cursor: pointer;
}

.button-add-task:hover {
  background-color: #5f0830;
  opacity: 0.8;
}

.button-add-task:active {
  background-color: #770b3d;
  opacity: 0.5;
}

.list-tasks {  
  margin-top: 35px;
  width: 100%;
  list-style: none;
}

.task {
  background-color: #f2f2f2;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 25px;
  cursor: pointer;
}
img {
  height: 25px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.task:hover img{
    opacity: 1;
    
}


.done {
    background-color: #8fac55;
    text-decoration: line-through;
}


@media only screen and (max-width: 768px) {
    .container {
      width: 90%; /* Reduza a largura do container para telas menores */
      margin: 50px auto 0; /* Ajuste as margens para centralizar o container */
    }
    
    .input-task {
      width: 80%; /* Reduza a largura do input para telas menores */

    }

    .button-add-task{
        margin-top: 25px;
    }

    .container {
        display: flex;
        flex-direction: column; /* Empilhe os elementos verticalmente em telas menores */
        align-items: center; /* Centralize os elementos horizontalmente */
      }
  }
  